/* Full height image header */
.background {
    background-position: center;
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
}
.espaceVide{
    height: 350px;
}
.navbar{
    background-color: white;
}

textarea{
    resize: none;
}

a.button{
    text-decoration: none;
    color: white;
}

body
{
	font-family: Roboto;
}